<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/admin.css">

    <script src="/layui/layui.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>

    <div class="layui-row layui-form">
        <div id="aaSelect" class="layui-col-sm4">
            <select id="colorSelect">
                <option>hello</option>
                <option>hello</option>
                <option>hello</option>
                <option>hello</option>
                <option>hello</option>
                <option>hello</option>
            </select>
        </div>
    </div>
<div class="layui-row">
    <button id="getBtn" class="layui-btn">提交</button>
</div>

</body>

<script>
    var form = undefined;
    layui.use('form', function(){
        var form = layui.form;
        form = layui.form;
    });
   $("#getBtn").click(function () {
       var value = $('#aaSelect').find('input').val();
       alert(value)
   });
window.onload = function () {
    $('#aaSelect').find('input').removeAttr("readonly");
}
</script>

</html>
