<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/admin.css">

    <script src="/layui/layui.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<div class="layui-row">
    <div class="layui-col-sm12 layui-col-sm-offset2">
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
</div>

</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
        <button type="button" class="layui-btn layui-btn-sm" lay-event="addDiscount">
            <i class="layui-icon">&#xe608;</i> 添加
        </button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="switchTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="sex" value="{{d.userId}}" lay-skin="switch" lay-text="女|男" lay-filter="sexDemo" {{
           d.userId== 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="switchTpl2">
    <!-- 这里的 checked 的状态只是演示 -->
    {{d.userName}}
    <input type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF" {{ d.userId== 1
           ? 'checked' : '' }}>
</script>

<script type="text/html" id="switchTpl3">
    <div class="layui-row">
        <div class="layui-col-sm12 ">
            <form class="layui-form" method="post">
                <div class="layui-form-item">
                    <div class="layui-col-sm12">
                        <div class="layui-col-sm8">
                            <label class="layui-form-label">单行输入框</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" lay-verify="title" autocomplete="off"
                                       placeholder="请输入标题" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-col-sm12">
                        <div class="layui-col-sm2"><label class="layui-form-label">促销时间段</label></div>
                        <div class="layui-col-sm3">
                            <input type="text" class="layui-input" id="startTime" placeholder="yyyy-MM-dd HH:mm">
                        </div>
                        <div class="layui-col-sm1" style="margin-left: -6%">
                            <label class="layui-form-label"></label>
                        </div>
                        <div class="layui-col-sm3">
                            <input type="text" class="layui-input" id="endTime" placeholder="yyyy-MM-dd HH:mm">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top: 10%">
                    <div class="layui-col-sm12">
                        <div class="layui-col-sm8 layui-col-xs-offset1">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/html" id="switchTpl4">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;">默认展开</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">选项一</a></dd>
                <dd><a href="javascript:;">选项二</a></dd>
                <dd><a href="javascript:;">选项三</a></dd>
                <dd><a href="">跳转项</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child">
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">云市场</a></li>
        <li class="layui-nav-item"><a href="">社区</a></li>
    </ul>
</script>

<script>
    layui.use(['table', 'laydate','element'], function () {
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;

        table.render({
            elem: '#test'
            , url: '/user/list'
            , height: 'full-200'
            , width: 1000
            , toolbar: '#toolbarDemo'
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'userId', width: 80, title: 'ID', sort: true}
                    , {field: 'userName', width: 200, title: '用户名', align: 'center', templet: '#switchTpl2'}
                    , {field: 'useAge', width: 80, title: '性别', sort: true, align: 'center', edit: 'text'},
                    , {field: 'sex', title: '性别', width: 85, templet: '#switchTpl', unresize: true}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150}
                ]
            ]
            , page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                , groups: 1 //只显示 1 个连续页码
                // ,first: true //不显示首页
                // ,last: true //不显示尾页
                , limit: 40
            }
        });

        //头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            console.info(obj);
            console.info(checkStatus)
            switch (obj.event) {
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;
                case 'addDiscount':
                    layer.open({
                        type: 1,
                        area: ['600px', '500px'],
                        content: $('#switchTpl4').html(), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                        success: function (layero, index) {
                            //日期时间选择器
                            laydate.render({
                                elem: '#startTime'
                                , type: 'datetime',
                                format: 'yyyy-MM-dd HH:mm',
                                min: new Date().toDateString()
                            });
                            //日期时间选择器
                            laydate.render({
                                elem: '#endTime'
                                , type: 'datetime',
                                format: 'yyyy-MM-dd HH:mm',
                                min: new Date().toDateString()
                            });
                            //日期时间选择器
                            laydate.render({
                                elem: '#endTime'
                                , type: 'datetime',
                                format: 'yyyy-MM-dd HH:mm',
                                min: new Date().toDateString()
                            });
                        }
                    });
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.prompt({
                    formType: 2
                    , value: data.userName
                }, function (value, index) {
                    obj.update({
                        userName: value
                    });
                    layer.close(index);
                });
            }
        });


        //监听单元格编辑
        table.on('edit(test)', function (obj) {
            var value = obj.value //得到修改后的值
                , data = obj.data //得到所在行所有键值
                , field = obj.field; //得到字段
            layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
        });

        //监听性别操作
        form.on('switch(sexDemo)', function (obj) {
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        });

        //监听性别操作
        form.on('switch(switchTest)', function (obj) {
            console.info(obj)
            layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function(elem){
            //console.log(elem)
            layer.msg(elem.text());
        });
    });
</script>
</html>
