<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>JS/jQuery图片查看器viewer.js演示-jQuery版本_jq22</title>

  <link rel="stylesheet" href="/viewer/viewer.min.css">

  <script src="/viewer/viewer.min.js"></script>
  <script src="/js/jquery.min.js"></script>

  <style>
    * { margin: 0; padding: 0;}
    #jq22 { width: 700px; margin: 0 auto; font-size: 0;}
    #jq22 li { display: inline-block; width: 32%; margin-left: 1%; padding-top: 1%;}
    #jq22 li img { width: 100%;}
  </style>

</head>

<body>

<ul id="jq22">
  <!--  <li><img data-original="/img/tibet-1.jpg" src="/img/thumbnails/tibet-1.jpg" alt="图片1"></li>
    <li><img data-original="/img/tibet-2.jpg" src="/img/thumbnails/tibet-2.jpg" alt="图片2"></li>
    <li><img data-original="/img/tibet-3.jpg" src="/img/thumbnails/tibet-3.jpg" alt="图片3"></li>
    <li><img data-original="/img/tibet-4.jpg" src="/img/thumbnails/tibet-4.jpg" alt="图片4"></li>
    <li><img data-original="/img/tibet-5.jpg" src="/img/thumbnails/tibet-5.jpg" alt="图片5"></li>
    <li><img data-original="/img/tibet-6.jpg" src="/img/thumbnails/tibet-6.jpg" alt="图片6"></li>-->
</ul>

</body>

<script src="/js/jquery.min.js"></script>
<script src="/viewer/viewer-jquery.min.js"></script>
<script>
  $(function() {
    var li = '';
    var url = 'https://img14.360buyimg.com/n1/s450x450_jfs/t1/3654/10/3638/51699/5b99fec8Edd0e4b75/f00194bcec3a07a6.jpg';
    for (var i = 0; i < 6; i++) {
      li += '<li><img data-original="' + url + '" src="' + url + '" alt="图片1"></li>';
    }
    $("#jq22").html(li);
    $('#jq22').viewer({
      url: 'data-original',
    });
  });
</script>

</html>
