<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="/kindeditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="/kindeditor/lang/zh-CN.js"></script>
    <script charset="utf-8" src="/kindeditor/plugins/code/prettify.js"></script>
</head>
<body>
    <form name="example" method="post" action="/sumitEditor">
        <textarea id="example" name="content1" cols="100" rows="8" style="width:700px;height:200px;visibility:hidden;"></textarea>
        <br />
        <input type="submit" name="button" value="提交内容" /> (提交快捷键: Ctrl + Enter)
    </form>
</body>

<script>
    KindEditor.ready(function(K) {
        window.editor = K.create('#example', {
            uploadJson: '/upload'
        });
    });
</script>
</html>