<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>table模块快速使用</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>

<table id="demo" lay-filter="test"></table>

<script src="/layui/layui.js"></script>
<script>
    layui.use('table', function(){
        var table = layui.table;

        //第一个实例
        var tableIns = table.render({
            elem: '#demo',
            id: 'demo'
            ,height: 312
            ,url: '/user/list' //数据接口
            ,page: true //开启分页
            ,cols: [
                [ //表头
                {field: 'userId', title: 'ID', width:80, sort: true, fixed: 'left'}
                ,{field:'userName', title: '用户名',edit: 'text'}
            ]
            ]
        });
        var oldData = table.cache;
        console.info(oldData.demo);
        var newRow = {userId:0, userName: ''};
/*        oldData.push(newRow);
        tableIns.reload({
            data : oldData
        });*/
        table.on('edit(test)', function (obj) {
            console.info(obj)
        });
    });
</script>
</body>
</html>
