<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/admin.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/layui/layui.js"></script>

    <script src="/js/vue.min.js"></script>
    <style>
        td{
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app" class="layui-form">
    <table>
        <tr>
            <td ><input placeholder="请输入姓名" id="name" v-model="student.name"></td>
            <td><input placeholder="请输入年龄" id="age" v-model="student.age"></td>
            <td><input value="添加" @click="add" type="button"></td>
        </tr>
    </table>
    <table class="layui-table">
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <td><input type="checkbox" lay-skin="primary"></td>
            <td><input id="all" lay-filter="all" type="checkbox" lay-skin="primary"></td>
        </tr>
        <tr v-for="(student,index) in students">
            <td>{{index}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td><input type="button" value="删除" @click="del(index)"></td>
            <td><input type="checkbox" lay-skin="primary"></td>
        </tr>
    </table>
</div>
</body>

<script>
    $(function () {
        var form1 = undefined;
        layui.use('form', function(){
            var form = layui.form;
            form1 = layui.form;
            form.on('checkbox(all)', function () {

            });
        });
        var app = new Vue({
            el: '#app',
            data: {
                students: [
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10}
                    ],
                student: {
                    name: 'dd',
                    age: 0
                }
            },
            methods: {
                del: function (index) {
                    this.students.splice(index, 1);
                },
                add: function () {
                    this.students.push(this.student);
                    this.$nextTick(function () {
                        form1.render()
                    });
                }
            }
        })
    });
</script>

</html>
