<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/vue.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <style>
        td{
            text-align: center;
        }
    </style>
</head>
<body>
<div id="app">
    <table>
        <tr>
            <td ><input placeholder="请输入姓名" id="name" v-model="student.name"></td>
            <td><input placeholder="请输入年龄" id="age" v-model="student.age"></td>
            <td><input value="添加" @click="add" type="button"></td>
        </tr>
    </table>
    <table >
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
        </tr>
        <tr v-for="(student,index) in students">
            <td>{{index}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td><input type="button" value="删除" @click="del(index)"></td>
        </tr>
    </table>
</div>
</body>

<script>
    $(function () {
        var app = new Vue({
            el: '#app',
            data: {
                students: [
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10},
                    {name: 'zhangsan', age: 10}
                    ],
                student: {
                    name: 'dd',
                    age: 0
                }
            },
            methods: {
                del: function (index) {
                    this.students.splice(index, 1);
                },
                add: function () {
                    this.students.push(this.student);
                }
            }
        })
    });
</script>

</html>