<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/jquery-easyui-1.7.0/themes/icon.css">
    <link rel="stylesheet" href="/jquery-easyui-1.7.0/themes/default/easyui.css">

    <script src="/layui/layui.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/tanchu2.js"></script>
    <script src="/jquery-easyui-1.7.0/jquery.easyui.min.js"></script>

    <style>
        body .layui-tree-skin-shihuang .layui-tree-branch{color: red;}
    </style>
</head>
<body>
    <button class="layui-btn" id="tanchu">弹出</button>
    <button class="layui-btn" id="tanchuTree">弹出树</button>

<div class="layui-row">
    <div class="layui-form">
        <div class="layui-row">
<!--            <div class="layui-col-sm4">
                <input class="layui-input" lay-verify="required" placeholder="用户名称">
            </div>
            <div class="layui-col-sm4">
                <input id="email" class="layui-input" lay-verify="email" placeholder="电子邮件">
            </div>
            <div class="layui-col-sm4">
                <input id="userPass" class="layui-input" lay-verify="pass">
            </div>-->
            <input id="user_name" type="text" class="layui-input" lay-verify="username|required" placeholder="请输入用户名">
            <input type="password" class="layui-input" lay-verify="pass" placeholder="请输入密码">
            <select lay-verify="required">
                <option></option>
                <option>hello</option>
            </select>
        </div>
        <div class="layui-row">
            <button class="layui-btn" lay-submit>提交</button>
        </div>
    </div>
</div>
</body>

</html>
<div id="notice" style="display: none;  color: #fff; font-weight: 300;">
    <div class="layui-row">
        <div class="layui-col-sm3 text-right">
            <button class="layui-btn">用户名</button>
        </div>
        <div class="layui-col-sm4">
            <input id="userName" class="layui-input" placeholder="用户名">
        </div>
        <div class="layui-col-sm3 text-right">
            <button class="layui-btn" id="search">搜索</button>
        </div>
    </div>
    <div class="layui-row">
        <table id="demo" lay-filter="test"></table>
    </div>
    <script type="text/html" id="toolbarDemo">
        <!--        <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
                </div>-->
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>
</div>
<div id="easyuiTree" style="display: none" class="layui-row">
    <ul id="tt"></ul>
</div>

