<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/validate/bootstrapValidator.css"/>
    <link rel="stylesheet" href="/css/datetimepicker/bootstrap-datetimepicker.min.css">

    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/validate/bootstrapValidator.js"></script>
    <script type="text/javascript" src="/js/datetime-picker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/js/datetime-picker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!--<script type="text/javascript" src="/js/validate/language/zh_CN.js"></script>-->
</head>


<script>
    function f() {
        var user = {};
        user['userName'] = '小明';
        user['useAge'] = 15;
        var users = [];
        users.push(user);
        users.push(user);
        var userList = {};
        userList['userInfo'] = users;
/*       $.ajax({
           // headers必须添加，否则会报415错误
           headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
           },
           url: '/user/save',
           type: 'POST',
           data: JSON.stringify(users),
           dataType: 'json',
           success: function (result) {
               console.info(result);
           }
       });*/

        $.ajax({
            url: '/user/save',
            type: 'POST',
            data: JSON.stringify(userList),
            dataType: 'json',
            contentType:"application/json",
            success: function (result) {
                console.info(result);
            }
        });
    }
</script>
<body>

<div >
    <div class="row" >
       <div class="col-xs-6 col-sm-3"  style="background-color: #dedef8;
         box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
           Lorem ipsum dolor sit amet, consectetur adipisicing elit.
       </div>
        <div class="col-xs-6 col-sm-3" style="background-color: #dedef8;
         box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="col-xs-6 col-sm-3"
             style="background-color: #dedef8;box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut.
            </p>
        </div>
        <div class="col-xs-6 col-sm-3"
             style="background-color: #dedef8;box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut.
            </p>
        </div>
    </div>
    <div class="row">
<!--        <div class="col-xs-6 col-sm-3">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label  for="name">名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label  for="name">名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label  for="name">名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                </div>
            </form>
        </div>

        <div class="col-xs-6 col-sm-3">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label  for="name">名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label  for="name">名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label  for="name">名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                </div>
            </form>
        </div>-->

        <div class="col-sm-6">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <label  for="name">名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                </div>
                <div class="form-group">
                    <label  for="name">名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                </div>
                <div class="form-group " data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd">
                    <label >开始日期</label>
                    <input size="16" type="text" value="2012-06-15 14:45" readonly class="form_datetime">
                    <span class="add-on "><i class="icon-th "></i></span>
                </div>
                <div class="form-group">
                    <label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>
                    <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                    <input type="hidden" id="dtp_input2" value="" /><br/>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="page-header">
                <h2>Using Ajax to submit data</h2>
            </div>

            <form id="defaultForm" method="post" class="form-horizontal" >
                <div class="form-group">
                    <label class="col-lg-3 control-label">Username</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="username" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Email address</label>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" name="email" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-5">
                        <input type="password" class="form-control" name="password" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



</body>

<script>
    $(function () {
        $(".form_datetime").datetimepicker({
            format: 'yyyy-mm-dd',
            startView: 2,
            minView: 2,
            forceParse: 0
        });

        $('#defaultForm')
            .bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    username: {
                        message: 'The username is not valid',
                        validators: {
                            notEmpty: {
                                message: 'The username is required and can\'t be empty'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: 'The username must be more than 6 and less than 30 characters long'
                            },
                            /*remote: {
                                url: 'remote.php',
                                message: 'The username is not available'
                            },*/
                            regexp: {
                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                message: 'The username can only consist of alphabetical, number, dot and underscore'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'The email address is required and can\'t be empty'
                            },
                            emailAddress: {
                                message: 'The input is not a valid email address'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'The password is required and can\'t be empty'
                            }
                        }
                    }
                }
            })
            .on('success.form.bv', function(e) {
                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');

                // Use Ajax to submit form data
                $.post($form.attr('action'), $form.serialize(), function(result) {
                    console.log(result);
                }, 'json');
            });


    });
    $('.form_date').datetimepicker({
        // weekStart: 1,
        // todayBtn:  1,
        // autoclose: 1,
        // todayHighlight: 1,
        // startView: 2,
        // minView: 2,
        // forceParse: 0
    });
</script>
</html>
