<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/echarts/echarts.min.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div id="main" style="width: 600px;height:400px;"></div>
</body>

<script type="text/javascript">
/*    var myChart = echarts.init(document.getElementById('main'));
    // 初始 option
    option = {
        title: {
            text: '异步数据加载示例'
        },
        tooltip: {},
        legend: {
            data:['销量']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: '销量',
            type: 'bar',
            data: []
        }]
    };
    myChart.setOption(option);

    $.ajax({
        url: "/user/groupByName",
        success: function(result){
            myChart.setOption({
                xAxis: {
                    data: result.categories
                },
                series: [{
                    // 根据名字对应到相应的系列
                    name: '销量',
                    data: result.data
                }]
            });
        }
    });*/
var myChart = echarts.init(document.getElementById('main'));
option = {
    title: {
        text: '折线图堆叠'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data:[]
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: []
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name: '邮件营销',
            type: 'line',
            stack: '总量',
            data: []
        }
    ]
};

myChart.setOption(option);

$.ajax({
    url: '/echarts/count',
    success: function (result) {
        console.info(result)
        myChart.setOption({
            legend: {
                data:result.legend
            },
            xAxis: {
                    data:  result.xaxis
            },
            series: result.series
        });
    }
})

</script>

</html>
